body{
	font-size: 16pt;
	margin:0;
	box-sizing: border-box;
}

header > nav ul, footer{
	list-style: none;
	background-color: #4f4f4f;
	margin:0;
	text-align: center;
	font-size: 18pt;
}
header > nav ul li > a{
	text-decoration: none;
	color: #ffffff;
}

header > nav ul li{
	display: inline-block;
	margin-left: 10px;
	padding: 10px;
}

footer>div{
	padding: 10px;
	color: #ffffff;
}

.myphoto{
	text-align: center;
	color: #0077b5;
}
.myphoto img{
	width:30%;
	border: 1px solid #000000;
	border-radius: 50%;
}
.contact-form,.social-media{
	position: relative;
	float: left;
	width:45%;
	margin-left:2%; 
}
footer{
	background-color: #3f3f3f;
	color: #ffffff;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;

}
main{
	margin-top: 2%;
}
.myphoto{
	text-align: center;

}
.myphoto img{
width: 300px;
border: 1px solid #000000;
border-radius: 60px;

}
.contact-form,.social-media{
	position: relative;
	float: left;
	width: 45%;
	margin-left: 2%;
	border:1px solid #000000;
	padding: 10px;
	border-radius: 10px;

}
.contact-form h3,.social-media h3{
	text-align: center;
}
.social-media>a{
	display:block;
	text-decoration:none;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}
.social-media i{
	margin-right: 5px;
}
.contact-form input[type="submit"]
{
	width: 80px;
	display: block;
	margin: 0 auto;
	background-color: #0a84ff;
	color: #ffffff;
	border-radius: 2px;

}
.contact-form input[type="submit"]:hover
{
opacity: 0.8;
color: :#fafafa;
background-color: black;
}
figure>img{
	width: 200px;
	height: 200px;
}
figure{
	position: relative;
	/*float: left;*/
	border: 1px solid black;
	padding: 5px;
	margin: 10px;
	text-align: center;
	display: inline-block;
}
.gallary{
	text-align: center;
}